/*
sass sass/style.scss css/style.css --watch --style compressed
*/

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url("../img/body-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  display: grid;
  grid-template-columns: 10px 1fr 10px;
  grid-template-rows: 10px 1fr 10px;
}

#hiddenBox {
  display: grid;
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #d9d9d969;
  // grid-template-columns: 10px 1fr 10px;
  // grid-template-rows: 10px 1fr 10px;
}

#photo {
  background-color: #d9d9d969;
  border-radius: 50%;
  width: 33%;
  aspect-ratio: 1/1;
  overflow: hidden;
}

#photo img {
  height: 105%;
  width: 105%;
}

#hiddenBox nav {

}
