/*
sass sass/style.scss css/style.css --watch --style compressed
*/

/*
Image by <a href="https://www.freepik.com/free-vector/gradient-mountain-landscape_20008477.htm#query=mountain&position=5&from_view=search&track=sph">Freepik</a>
Voix ambiguë d'un cœur qui, au zéphyr, préfère les joyaux à Kintzburg.
*/

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Regular;
  src: url(../fonts/Stone-Inf-ITC-Medium.ttf);
}

@font-face {
  font-family: Menu;
  src: url(../fonts/ITCAvantGardeStd-Demi.otf);
}

body {
  font-family: Regular, "Times New Roman", Times, serif;
  font-display: swap;
  height: 100dvh;
  background-image: url("../img/mountain-vector.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  display: grid;
  grid-template-columns: 18px 1fr 18px;
  grid-template-rows: 18px 1fr 18px;
}

#hiddenBox {
  display: grid;
  grid-column: 2/3;
  grid-row: 2/3;
  border-radius: 10px;
  overflow: hidden;
  grid-template-rows: .2fr 9fr .8fr;
  // box-shadow: 0px 0 10px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .5);
}

#menuNav {
  background-color: #d9d9d935;
  grid-row: 3/4;
}

#menuNav::before {
  display: block;
  height: 2px;
  background-color: #d9d9d9;
  width: 100%;
  content: "";
}

#mainBox {
  display: grid;
  grid-template-columns: .5fr 9fr .5fr; // 11
  grid-template-rows: .5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr .5fr; // 11
  background-color: #d9d9d935;
  grid-row: 1/3;
  color: #d9d9d9;
}

#photo {
  grid-row: 4/5;
  grid-column: 2/3;
  background-color: #d9d9d97b;
  border-radius: 50%;
  width: 90%;
  aspect-ratio: 1/1;
  overflow: hidden;
  justify-self: center;
  align-self: center;
}

#photo img {
  height: 105%;
  width: 105%;
}

#presentation {
  grid-row: 7/9;
  grid-column: 2/3;
  background-color: white;
}

#contact {
  grid-row: 09/11;
  grid-column: 2/3;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  background-color: black;
}

#contact .icon {
  font-size: 20px;
}

#contact td {
  padding-right: 10px; /* Ajoutez l'espace souhaité entre les colonnes */
  padding-top: 4px;
  padding-bottom: 4px;
}